* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
}

.unimar {
    width: 150px;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #0072BC;
}

ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

ul.navbar li {
    margin: 0 15px;
}

.navbr {
    background-color: transparent;
}

ul.navbar li a {
    text-decoration: none;
    color: #0072BC;
    font-weight: 300;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

ul.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-form input[type="text"]::placeholder {
    color: #ccc;
}

.search-form input[type="text"]:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.3);
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.cursos a {
    text-decoration: none;
    color: inherit;
}

.curso {
    position: relative;
    width: 390px;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden; /* Para garantir que o degradê não saia dos limites da imagem */
    transition: 0.3s;
}
.curso::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    transition: background 0.3s ease;
    z-index: 1;
}
.cursos a:hover .curso::before {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); /* Altere para as cores desejadas */
}

.titulocurso {
    height: 180px;
    font-family: var(--font);
    margin-top: -300px;
    position: relative;
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    transition: .3s;
    border-radius: 10px;
    font-size: 100%;
    padding: 20px 30px;
    line-height: 125%;
    transition: .3s;
    display: grid;
    align-content: flex-end;
    height: 300px;
    
    

}


.row {
    display: flex;
    justify-content: center; /* Alinha todos os itens ao centro horizontalmente */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
    gap: 15px; /* Adiciona um espaço entre os itens */
}
.filterbar {
    min-height: auto;
    padding: 20px 30px;
    background: rgb(247, 247, 247);
    border-radius: 15px;
    margin: 0 auto; /* Centraliza o .filterbar horizontalmente */
    width: fit-content; /* Ajusta a largura do .filterbar ao seu conteúdo */
}

.rodape {
    border-top:1px solid #0072BC;
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    color: white;

}

.roda {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.roda li {
    margin: 0 10px;
}

.roda a {
    text-decoration: none;
    color: #0072BC;
}

.roda a:hover {
    text-decoration: underline;
}
